---
import Hero from "~/components/frontpage/hero.astro"
import Projects from "~/components/frontpage/projects.astro"
import Skills from "~/components/frontpage/skills.astro"
import BaseLayout from "~/layouts/base.astro"
---

<BaseLayout>
  <div class="flex flex-col gap-48 md:gap-56 mt-20 md:mt-40">
    <Hero />
    <Skills />
    <Projects />
  </div>
</BaseLayout>
