---
import Career from "~/components/frontpage/career.astro"
import Hero from "~/components/frontpage/hero.astro"
import Projects from "~/components/frontpage/projects.astro"
import Skills from "~/components/frontpage/skills.astro"
import Testimonials from "~/components/frontpage/testimonials.astro"
import BaseLayout from "~/layouts/base.astro"
---

<BaseLayout>
  <div class="my-20 flex flex-col gap-48 md:my-40 md:gap-56">
    <Hero />
    <Skills />
    <Projects />
    <Career />
    <Testimonials />
  </div>
</BaseLayout>
