<section id="projects">
  <h2 class="mb-10 text-center text-3xl font-bold tracking-tight md:text-4xl">Was andere sagen</h2>

  <div class="mx-auto max-w-4xl grid gap-8 md:grid-cols-3">
    {[1, 2, 3].map((i) => <div id="testimonial" />)}
  </div>
</section>

<script>
  import { getRandomTestimonials } from "~/lib/data"

  console.log(getRandomTestimonials())
</script>
