---
const props = Astro.props
---

<div
  class="inline-flex items-center rounded-sm border border-transparent bg-secondary px-2.5 py-0.5 text-xs font-normal text-secondary-foreground transition-colors hover:bg-secondary/80 focus:ring-2 focus:ring-ring focus:ring-offset-2 focus:outline-none"
  {...props}
>
  <slot />
</div>
